@use 'variables';
@use 'fonts';
@use 'sidebar';

/* third-party */
@use 'overlayscrollbars/styles/overlayscrollbars.css';

* {
  font-family: FiraSansExtraCondensed, sans-serif;
  box-sizing: border-box;
}

html, body, #__nuxt {
  height: 100%;
}

body {
  margin: 0;

  .os-theme-dark {
    --os-handle-bg: var(--custom-scroll-gradient);
    --os-handle-bg-hover: var(--custom-scroll-gradient);
  }
}

.el-container.main {
  padding: 20px 30px 20px calc(var(--sidebar-width) + 30px);
  background: linear-gradient(to top right, #f8e9e9, #c3f2fd);
  min-height: 100vh;

  >.el-main {
    padding: 0;
  }
}