@use 'variables';
@use 'fonts';
@use 'sidebar';

/* third-party */
@use 'overlayscrollbars/styles/overlayscrollbars.css';

.os-theme-default {
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: var(--custom-scroll-gradient);
  --os-handle-bg-hover: var(--custom-scroll-gradient);
  --os-handle-bg-active: var(--custom-scroll-gradient);
  --os-handle-min-size: 40px;
  --os-padding-axis: 0;
  --os-padding-perpendicular: 0;
}

.os-theme-main-scroll {
  transition: width .3s;

  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: var(--custom-scroll-gradient);
  --os-handle-bg-hover: var(--custom-scroll-gradient);
  --os-handle-bg-active: var(--custom-scroll-gradient);
  --os-handle-min-size: 100px;
  --os-padding-axis: 0;
  --os-padding-perpendicular: 0;
  --os-size: 4px;

  &.os-scrollbar:hover {
    --os-size: 8px;
  }
}

* {
  font-family: FiraSansExtraCondensed, sans-serif;
  box-sizing: border-box;
}

html, body, #__nuxt {
  height: 100%;
}

body {
  margin: 0;
}

.el-container.main {
  padding: 20px 30px 20px calc(var(--sidebar-width) + 30px);
  background: linear-gradient(to top right, #f8e9e9, #c3f2fd);
  min-height: 100vh;

  >.el-main {
    padding: 0;
  }
}