.browser {

  &__control-panel-input .el-icon > svg {
    cursor: pointer;
  }

  &__input-filter .el-icon > svg {
    cursor: pointer;
  }

  .el-input__inner {
    font-size: 16px;
  }

  .el-table {
    box-shadow: var(--main-box-shadow);

    &.--loading {
      filter: blur(2px);
      opacity: 1;
    }
  }

  &__control-panel {
    background: var(--main-background-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    position: sticky;
    top: 20px;
    z-index: 2;

    .el-input svg {
      color: var(--main-gradient-intermediate);
    }
  }

  &__control-panel-column {
    &.--left {
      align-items: center;
      cursor: pointer;
      display: flex;
    }
  }

  &__control-panel-page-title {
    background: linear-gradient(to right, var(--main-gradient-start) 0, var(--main-gradient-end) 100%);
    -webkit-background-clip: text;
    border-radius: 5px;
    color: grey;
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-text-fill-color: transparent;
  }

  &__loader {
    height: 1000px;
    width: 100%;
    margin-top: 10px;
    overflow: hidden;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    position: relative;

    .el-loading-mask {
      background: transparent;
    }

    &.--active {
      opacity: 1;
    }
  }

  &__table-wrapper {
    border-radius: var(--main-border-radius);
    overflow: hidden;
    box-shadow: var(--main-box-shadow);
  }

  &__container {
    margin-top: 10px;
    display: flex;
    gap: 10px;
  }

  &__filters {
    background: var(--main-background-color);
    border-radius: var(--main-border-radius);
    box-shadow: var(--main-box-shadow);
    height: 100%;
    padding: 15px;
    width: 225px;
    z-index: 1;
  }

  .el-pagination.--browser {
    justify-content: end;
    margin-top: 10px;
  }
}