.form__section {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--main-gradient-start);
}

.form__header-section-top {
  display: flex;
  justify-content: space-between;
}

.form__content {
  background: var(--main-background-color);
}

.form__header {
  padding: 20px;
  position: sticky;
  z-index: 3;
  top: 0;
  background: var(--main-background-color);
  border-bottom: 1px solid var(--color-2);
}

.form__header .tabs {
  top: 20px;
  left: -20px;
  width: calc(100% + 40px);
  justify-content: space-around;
}

.form__header .tabs__item {
  width: 100%;
}

.form__content {
  padding: 20px 30px;
}

.form__header-title {
  margin: 0;
  color: grey;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: linear-gradient(to right, var(--main-gradient-start) 0%, var(--main-gradient-end) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__footer {
  bottom: 0;
  background: var(--main-background-color);
  padding: 20px;
  display: flex;
  justify-content: right;
  position: sticky;
}

.form__header-close-button {
  width: 28px;
  height: 28px;
}

.form__header-close-button:hover {
  cursor: pointer;
}

.form__header-close-button:hover svg {
  color: var(--main-gradient-end);
}

.form__header-close-button svg {
  width: 28px;
  height: 28px;
  color: var(--color-gradient-1);
}