.form__section {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--main-gradient-start);
}

.form__header-section-top {
  display: flex;
  justify-content: space-between;
}

.form__content {
  background: var(--main-background-color);
}

.form__header {
  padding: 20px;
  position: sticky;
  z-index: 3;
  top: 0;
  background: var(--main-background-color);
  border-bottom: 1px solid var(--color-2);
}

.form__header .tabs {
  top: 20px;
  left: -20px;
  width: calc(100% + 40px);
  justify-content: space-around;
}

.form__header .tabs__item {
  width: 100%;
}

.form__content {
  padding: 20px 30px;
}

.form__header-title {
  margin: 0;
  color: grey;
  font-size: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: linear-gradient(to right, var(--main-gradient-start) 0%, var(--main-gradient-end) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form__footer {
  z-index: 2;
  bottom: 0;
  background: var(--main-background-color);
  padding: 20px;
  display: flex;
  justify-content: right;
  position: sticky;
}

.form__header-close-button {
  width: 28px;
  height: 28px;
}

.form__header-close-button:hover {
  cursor: pointer;
}

.form__header-close-button:hover svg {
  color: var(--main-gradient-end);
}

.form__header-close-button svg {
  width: 28px;
  height: 28px;
  color: var(--color-gradient-1);
}

.form .el-date-editor.el-input {
  width: 100%;
}

// input-file
.form .input-file__btn-group {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.form .input-file__image-label {
  position: absolute;
  text-align: center;
  margin: auto;
  width: 100%;
  bottom: 70px;
  font-family: "FiraSansExtraCondensed", serif;
  z-index: 1;
  color: #ff6200;
  font-size: 14px;
}

.form .input-file {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  border: 1px solid var(--color-2);
  border-radius: 5px;
}

.form .input-file > * {
  font-family: Roboto, serif;
  line-height: normal;
}

.form .input-file.--has-errors {
  border: 1px solid #ff5252;
}

.form .input-file.--empty {
  border: none;
  padding: 0;
}

.form .input-file__cross-wrapper {
  display: flex;
  justify-content: center;
  aspect-ratio: 1 / 1;
  width: 300px;
  align-items: center;
  transition: opacity 0.5s;
  opacity: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.form .input-file__cross-wrapper:hover {
  opacity: 1;
}

.form .input-file__cross-wrapper svg {
  width: 30px;
  height: 30px;
  z-index: 1;
  color: #DE4020;
}

.form .input-file__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.form .input-file__image-overlay {
  background: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 2;
  border-radius: 5px;
  cursor: pointer;
}

.form .input-file__image-container {
  width: 100%;
}

.form .input-file__image-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 5px;
  background: black;
}

.form .input-file__image-wrapper > img, .form .input-file__image-wrapper > svg {
  position: absolute;
  width: 300px;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
  z-index: 1;
  transition: border 0.5s;
}

.form .input-file__image-wrapper > svg {
  padding: 35px;
  color: #ff6200;
}

.form .input-file__image-wrapper:hover .input-file__image-overlay {
  opacity: 0.4;
}

.form .input-file__image-wrapper:hover .input-file__cross-container {
  opacity: 1;
}

.form .input-file__image-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.form .input-file__input {
  background: var(--color-3);
  border: 1px dashed var(--color-2);
  height: 135px;
  width: 100%;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  transition: border 0.5s;
}

.form .input-file__input p {
  margin: 0;
}

.form .input-file__input:hover {
  border: 1px dashed var(--main-gradient-end);
}

.form .input-file__input:hover .input-file__label_choose {
  color: #8c8c8c;
}

.form .input-file__input:hover .input-file__label_or {
  color: #8c8c8c;
}

.form .input-file__input:focus {
  border: 1px dashed var(--main-gradient-end);
}

.form .input-file__input:focus .input-file__label_choose {
  color: #8c8c8c;
}

.form .input-file__input:focus .input-file__label_or {
  color: #8c8c8c;
}

.form .input-file__label {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.form .input-file__label_choose {
  font-size: 18px;
  color: var(--color-4);
  transition: color 0.5s;
}

.form .input-file__label_or {
  font-size: 14px;
  color: var(--color-4);
  transition: color 0.5s;
}

.form .input-file__label_download {
  background: linear-gradient(to right, var(--main-gradient-start) 0%, var(--main-gradient-end) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
}

.form .input-file__label_description {
  font-size: 12px;
}

.form .input-file__label_allow-formats {
  margin-top: 5px;
  font-size: 12px;
  font-family: Roboto, serif;
  color: var(--color-4);
}

.form .input-file__label_max-size {
  font-size: 12px;
  font-family: Roboto, serif;
  color: var(--color-4);
}