.login {
  align-items: center;
  background: var(--page-container-background-color);
  display: flex;
  height: 100vh;
  justify-content: center;

  form {
    background: var(--main-background-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0 2px 10px 0 rgba(34, 60, 80, .2);
    padding: 20px;
    width: 300px;

    button {
      width: 100%;
      margin-top: 18px;
    }
  }

  &__logo {
    display: flex;
    place-items: center center;
    flex-direction: column;
    opacity: .5;
    margin-bottom: 10px;
  }

  &__action {
    color: var(--color-4);
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
}