.modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .vfm__content {
    width: 570px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .el-scrollbar__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .el-scrollbar {
    --el-scrollbar-opacity: 1;
  }

  .el-scrollbar__bar.is-vertical {
    width: 6px;
    right: 1px;
  }

  &__wrapper {
    height: 100%;
  }
}