.modal {
  align-items: center;
  display: flex;
  justify-content: center;
}

.modal.--fixed-top {
  align-items: start;
}

.modal__container {
  transition: opacity 0.3s ease-in-out;
}

.modal__container.--loading {
  opacity: 0;
}

.modal__content {
  background-color: var(--main-background-color);
  border-radius: 24px;
  height: auto;
  max-width: 100%;
  position: relative;
  width: 570px;
}

.modal-custom-scroll {
  border-radius: var(--main-border-radius);
  max-height: 90vh;
  overflow: hidden;
  width: 100%;

  .os-scrollbar-vertical {
    --os-padding-perpendicular: 0;
    --os-size: 6px;
    --os-handle-bg: var(--el-scrollbar-bg-color, var(--el-text-color-secondary));
  }
}
