.modal {
  align-items: center;
  display: flex;
  justify-content: center;

  .vfm__content {
    width: 570px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .el-scrollbar__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}