.rich-editor {
  width: 100%;
  opacity: 1;
  transition: opacity .3s ease-in-out;

  &.--loading {
    opacity: 0;
  }

  .el-button svg {
    fill: currentColor;
    width: 14px;
    height: 14px;
  }

  &__top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ProseMirror {
    min-height: 200px;
    padding: 1rem;
    border-radius: 5px;
    background: #fff;
    font-size: inherit;
    border: none;

    &:focus {
      outline: none;
      border-color: #1976d2;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }

    pre {
      background: #f5f5f5;
      color: #333;
      padding: 16px;
      border-radius: 4px;
      overflow-x: auto;
      white-space: pre-wrap;
      word-break: break-word;
      font-family: 'Fira Code', monospace;
    }

    img {
      border: 1px solid transparent;
      border-radius: var(--main-border-radius);
      width: 100%;
      object-fit: contain;
      background-color: black;
      height: 400px;
      display: block;
      margin: 0 auto;
    }

    img.ProseMirror-selectednode {
      border: 1px solid var(--el-color-primary);
    }

    blockquote {
      border-left: 5px solid #eee;
      margin-left: 0;
      padding: 10px 20px;
    }

    code {
      background-color: #f4f4f4;
      color: #d63384;
      padding: 2px 6px;
      border-radius: 4px;
      font-family: Consolas, Monaco, monospace;
      font-size: 0.95em;
    }
  }

  &-editor svg {
    width: 14px;
    height: 14px;
    color: var(--el-text-color-regular);
    fill: currentColor;
  }

  &__buttons-group {
    > .el-dropdown:first-child button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    > .el-dropdown + .el-dropdown button {
      border-radius: 0;
      border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
    }

    > * {
      border-radius: 0;
    }

    > *:last-child {
      border-radius: var(--el-border-radius-base);
    }

    > .el-button + .el-button {
      margin-left: 0;
      border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
      border-radius: 0;

      &:last-child {
        border-radius: 0 var(--el-border-radius-base) var(--el-border-radius-base) 0;
      }

      &:hover {
        border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
      }
    }

    > * + .el-button {
      margin-left: 0;
      border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
      border-radius: 0;

      &:hover {
        border-color: var(--el-border-color) var(--el-border-color) var(--el-border-color) transparent;
      }
    }

    > * + .el-button.is-active {
      border-color: var(--el-button-active-border-color);
    }
  }

  &__dropdown {
    svg {
      width: 14px;
      height: 14px;
      fill: currentColor;
    }
  }

  &__custom-scroll {
    margin-top: 10px;
    box-shadow: 0 0 0 1px var(--el-border-color);
    border-radius: var(--el-border-radius-base);
  }
}