:root {
  --sidebar-width: 220px;
  --main-box-shadow: rgba(99, 99, 99, .2) 0 2px 8px 0;
  --main-gradient-start: #de4020;
  --main-gradient-intermediate: #ef7310;
  --main-gradient-end: #ffa500ff;
  --custom-scroll-gradient: linear-gradient(to bottom, var(--main-gradient-start) 0%, var(--main-gradient-end) 100%);
}